body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}

.cell {
    position: absolute;
}

.rules {
    padding-top: 1em;
    padding-bottom: 1em;
}

.rules-subtitle {
    padding-top: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 3rem;
}

.footer {
    width: 100%;
    position: relative;
    height: 60px;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin-top: 2%;
    align-content: center;
    align-items: center;
}